/*
#91d4c2
#45bb89
#3d82ab
#003853

*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: bold;


}

ol,
ul {
    list-style: none;
}

a {
    outline: 0;
    text-decoration: none;
}

img {
    border: 0;
}

body,
html {
    height: 100%;
    min-width:360px;
}


.back {
    width: 100%;
    height: 100%;
    background-image: url(/res/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    background-position: center;
    z-index: -1;
}

.main {
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.menu {
    width: 300px;
    height: 50px;
    position: fixed;
    background: #91d4c2;
    right: 0;
    top: 0;
    list-style-type: none;
    overflow: hidden;
    background-color: #003853;
    z-index: 1;
    border-radius: 10px 0px 0px 10px;

}

.menu li {
    float: left;
}

.menuitem {
    width: 100px;
    height: 100%;
    text-align: center;
    background: #3d82ab;
    font-size: 20px;
    padding: 10px;
    font-family: 'Ubuntu', sans-serif;
}

.menuitem:hover {
    background: #45bb89;
}

.aboutme {
    padding-top: 300px;
    width: 100%;
    background:#91d4c2;
    padding-bottom: 200px;
    color: #003853;

}

.project {
    width: 100%;
    background: #45bb89;
    padding-top: 300px;
    padding-bottom: 100px;
    color: aliceblue;
}

.contact {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
}

.main_center {
    color: #91d4c2;
    position: relative;
    top: 50%;
}

.main_text_center {

    text-align: center;
    font-size: 36px;
}

.lead {
    font-size: 20px;
}

.aboutme_text_center {
    font-family: 'Anton', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Pacifico', cursive;
    font-size: 36px;
    text-align: center;
}

.aboutme_box {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
}

.aboutme_me {
    position: relative;
    float: left;
    width: 600px;
    margin-top: 100px;

}

.aboutme_skill {
    position: relative;
    width: 600px;
    float: right;
    margin-top: 100px;
}

.aboutme_box::after {
    display: block;
    content: '';
    clear: both;
}

.project_text_center {
    font-family: 'Anton', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Pacifico', cursive;
    font-size: 36px;
    text-align: center;
    position: relative;
    top: 20%;
}

.project_box {
    position: relative;
    top: 30%;
    width: 1230px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

.project_left {
    width: 600px;
    height: 250px;
    margin-bottom: 30px;
    float: left;
}

.project_right {
    width: 600px;
    height: 250px;
    margin-bottom: 30px;
    float: right;
}

.project_left div:first-child {
    float: left;
}

.project_left div:last-child {
    float: right;
}

.project_right div:first-child {
    float: right;
}

.project_right div:last-child {
    float: left;
}

.project_item_sub {
    width: 300px;
    height: 250px;
    position: relative;
    text-align: center;
}

.project_item_cont {
    width: 300px;
    height: 250px;
    position: relative;
    border-radius: 30px;
    padding: 10px;
    background: black;
    border: 10px #003853 solid;
}

.project_box::after {
    display: block;
    content: '';
    clear: both;
}

.project_left::after {
    display: block;
    content: '';
    clear: both;
}

.project_right::after {
    display: block;
    content: '';
    clear: both;
}

@media screen and (min-width:700px) and (max-width:1279px) {
    .aboutme_me {
        float: none;
        margin-left: auto;
        margin-right: auto;

    }

    .aboutme_skill {
        float: none;
        margin-left: auto;
        margin-right: auto;

    }

    .project_box {
        width: 100%;
    }

    .project_left {
        float: none;
        margin-left: auto;
        margin-right: auto;
    }

    .project_right {
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
}


@media screen and (max-width:699px) {
    .aboutme_me {
        float: none;
        margin-left: auto;
        margin-right: auto;
        width: 90%;

    }

    .aboutme_skill {
        float: none;
        margin-left: auto;
        margin-right: auto;
        width: 90%;

    }

    .project_box {
        width: 100%;
    }

    .project_left {
        float: none;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: auto;
    }

    .project_right {
        width: 100%;
        float: none;
        margin-left: auto;
        margin-right: auto;
        height: auto;
    }

    .project_item_sub {
        float: none;
        margin-left: auto;
        margin-right: auto;
    }

    .project_item_cont {
        float: none;
        margin-left: auto;
        margin-right: auto;
    }

    .project_left div:first-child {
        float: none;
    }

    .project_left div:last-child {
        float: none;
    }

    .project_right div:first-child {
        float: none;
    }

    .project_right div:last-child {
        float: none;
    }

    .project {
        padding-top: 100px;
        height: auto;
    }

}



/* 컨텐츠 */

.aboutme_skill_cont {
    width: 100%;
    text-align: center;
}

.aboutme_me_cont {
    width: 100%;
}
.aboutme_skill_sub{
    display: block;
    text-align: center;
}
.profile_img {
    width: 300px;
    height: 300px;
    border-radius: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.profile_txt {
    word-wrap: keep-all;
    text-align: center;
    color: inherit;
}

.skill_col {
    display: flex;
    justify-content: space-around;
    line-height: 200%;
    margin-top: 30px;
    margin-bottom: 100px;
}

.skill_sub {
    font-size: 30px;
    text-align: center;
    font-family: 'Anton', sans-serif;
}
.carousel-item img{
    width: 300px;
    height: 220px;
    object-fit: cover;
    overflow: hidden;
}

.project_left .project_item_cont .carousel .carousel-indicators-numbers{
    right: 10px;
    left: auto;
    margin-left: 0;
    margin-right: 0;
    top:180px;
    margin-bottom: 0;
}
.project_right .project_item_cont .carousel .carousel-indicators-numbers{
    right: auto;
    left: 10px;
    margin-left: 0;
    margin-right: 0;
    top: 180px;
    margin-bottom: 0;
}
.carousel-indicators-numbers  li{
    text-indent: inherit;
    text-align: center;
      margin: 0 2px;
      width: 30px;
      height: 30px;
      border: none;
      border-radius: 100%;
      line-height: 30px;
      color: #003853;
      background-color: #3d82ab;
      transition: all 0.25s ease;
    position: relative;





}
.carousel-indicators-numbers .active{
    background-color: #91d4c2;
}
.carousel-indicators-numbers  li:active, .carousel-indicators-numbers  li:hover {
        margin: 0 2px;
        width: 30px;
        height: 30px;
        background-color: #45bb89;

    }

.subcenter{
    position: relative;
    top:20px;
    display: block;
    width: 100%;
    color: aliceblue;
    margin-bottom: 30px;
}

.project_item_sub ul li{
    display: block;
    color: aliceblue;
    font-size: 13px;
    text-align: left;
    margin-left: 20px;
    margin-top: 5px;
}
.git i {
    color: aliceblue;
    font-size: 30px;
}
.carousel-item a img{
    width: 100%;
    height: 100%;
    border-radius: 20px;

}
